<h1>Editing <%= @place.name %> </h1>

<% if @place.errors.any? %>
	<h3>
	<%=  @place.errors.full_messages.join(", ") %>
	</h3>
<%end%>

<form action="<%= place_path @place %>" method="post">
	<input type="hidden" name="_method" value="put">  


<%= render "form" %>
